[submodule "submodules/tasks"]
	path = submodules/tasks
	url = https://github.com/AAStarCommunity/Tasks
[submodule "submodules/payload-exchange"]
	path = submodules/payload-exchange
	url = https://github.com/microchipgnu/payload-exchange
[submodule "submodules/hubble-ai-trading"]
	path = submodules/hubble-ai-trading
	url = https://github.com/HubbleVision/hubble-ai-trading
[submodule "submodules/paybot"]
	path = submodules/paybot
	url = https://github.com/superposition/paybot
[submodule "submodules/halo"]
	path = submodules/halo
	url = https://github.com/humanlabs-kr/halo
[submodule "submodules/zkx402"]
	path = submodules/zkx402
	url = https://github.com/chatresearch/zkx402
